.cardedit {
    width: 430px;
    height: 59px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textoboton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
}